
@using EShop.Models
@model IEnumerable<CartItem>
<div class="header_top">
    <div class="logo">
        <a href="/"><img src="~/assets/client/images/logo.png" alt="" /></a>
    </div>
    <div class="cart">
        <div id="dd" class="wrapper-dropdown-2">
            <i class="fas fa-cart-plus"></i>
            <ul class="dropdown">
                @if (Model == null && Model.Count() <= 0)
                {
                    <li>
                        Không có sản phẩm nào
                    </li>
                }
                else
                {
                    foreach (CartItem item in Model)
                    {
                        <li>
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="~/assets/client/images/products/@item.Product.Image" />
                                </div>
                                <div class="col-sm-6">
                                    @item.Product.Name
                                </div>
                                <div class="col-sm-3">
                                    <label>@item.Product.Price</label>
                                </div>
                            </div>
                        </li>
}
                }
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
