
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Model.EF
@{
    var listNewProduct = (List<Product>)ViewBag.NewProducts;
    var listFeatureProduct = (List<Product>)ViewBag.FeatureProducts;
}
@{ Html.RenderAction("TopMenu", "Menu"); }
<div class="header_slide">
    @{ Html.RenderAction("Index", "ProductCategory"); }
    @{ Html.RenderAction("Index", "Slide"); }
    <div class="clear"></div>
</div>

<div class="content_top">
    <div class="heading">
        <h3>New Products</h3>
    </div>
    <div class="see">
        <p><a href="#">See all Products</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    @foreach (var product in listNewProduct)
    {
        <div class="grid_1_of_4 images_1_of_4">
            <a href="/chi-tiet/@product.ID">
            <img src="~/assets/client/images/products/@product.Image" alt="" /></a>
            <h2>@product.Name </h2>
            <div class="price-details">
                <div class="row">
                    <div class="col-sm-12">
                        <span class="text-bold text-gray-600">@product.Price.Value.ToString("#,##")</span>
                    </div>
                    <div class="col-sm-12">
                        <a href="preview.html" class="button">Add to Cart</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    }
</div>



<div class="content_top">
    <div class="heading">
        <h3>Feature Products</h3>
    </div>
    <div class="see">
        <p><a href="#">See all Products</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    @foreach (var product in listFeatureProduct)
    {
        <div class="grid_1_of_4 images_1_of_4">
            <a href="preview.html">
                <img src="~/assets/client/images/products/@product.Image" alt="" />
            </a>
            <h2>@product.Name </h2>
            <div class="price-details">
                <div class="row">
                    <div class="col-sm-12">
                        <span class="text-bold text-gray-600">@product.Price.Value.ToString("#,##")</span>
                    </div>
                    <div class="col-sm-12">
                        <a href="/chi-tiet/@product.MetaTitle-@product.ID" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    }
</div>
