
<div class="header_bottom_left">
    <div class="categories">
        <ul>
            <h3>Categories</h3>
            <li><a href="#">Mobile Phones</a></li>
            <li><a href="#">Desktop</a></li>
            <li><a href="#">Laptop</a></li>
            <li><a href="#">Accessories</a></li>
        </ul>
    </div>
</div>