
@{
    ViewBag.Title = "PaymentSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/">
    <img src="https://cdn.dribbble.com/users/1604785/screenshots/5902176/payment-sucess_4x.png?compress=1&resize=1000x750"/>
</a>
