
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Liên hệ</h2>
<div class="row">
    <div class="col-sm-6">
        <form method="post" action="/contact/feedback">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Họ tên</label>
                    <input name="Name" class="form-control" />
                </div>
                <div class="col-sm-6 form-group">
                    <label>Điện thoại</label>
                    <input name="Phone" class="form-control" />
                </div>
                <div class="col-sm-6 form-group">
                    <label>Email</label>
                    <input name="Email" class="form-control" />
                </div>
                <div class="col-sm-6 form-group">
                    <label>Địa chỉ</label>
                    <input name="Address" class="form-control" />
                </div>
                <div class="col-sm-12 text-right form-group">
                    <button class="btn btn-primary">Gửi</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14918.596146557788!2d105.87754018376114!3d20.805481886451027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135b6a53fd428db%3A0xfa8287d9470d48f1!2zVMO0IEhp4buHdSwgVGjGsOG7nW5nIFTDrW4sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1617634574526!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>

