.pagination-container {
    padding: 5px;
    border-radius: 3px;
}

.pagination {
    list-style: none;
}

.pagination ul {
    display: inline-block;
}

.pagination li {
    margin: 0px 5px;
    background: #dde1e7;
    text-align: center;
    border-radius: 3px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.pagination li a {
    font-size: 17px;
    text-decoration: none;
    color: #4e73df;
    height: 2.2em;
    width: 2.2em;
    display: block;
    line-height: 2.2em;
}

.pagination li:first-child a, .pagination li:last-child a {
    /*width: 100px;*/
}

.pagination li.active {
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.pagination li.active a {
    font-weight: bold;
    color: #2f5fea;
}
